@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    background-color: rgba(126, 126, 126, 0.836);
    height: 100%;
}

.bg-res {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 50px;
    padding: 20px;
}

.material-icons {
    cursor: pointer;
}

.centerBlock {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    height: 100px;
}

.error {
    color: red;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.imgIcon {
    height: 50px;
}

.app01 {
    display: flex;
    justify-content: flex-end;
}

.name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

.search {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 5px;
}

.nameOfWord {
    font-family: "Kalam", cursive;
}

.historyName {
    font-size: 39px;
}

.wordName {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.results {
    background-color: rgb(248, 238, 238, 0.45);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.hisFlex {
    display: flex;
    flex-wrap: wrap;
}

.hisItem {
    width: 15%;
    text-align: center;
    background-color: rgba(7, 100, 95, 0.332);
    margin: 5px;
    font-size: 13px;
    color: whitesmoke;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hisInnerItem {
    font-size: 13px;
    color: whitesmoke;
}

.deleteBtn {
    background-color: #f1f1f100;
    border: none;
}

.flex2 {
    display: flex;
    justify-content: flex-end;
}

.material-icons {
    scale: 0.7;
}

.search-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.search-input {
    border: none;
    width: 100%;
    border-radius: 20px;
    height: 42px;
    outline: none;
    line-height: 30px;
    padding: 12px 20px;
}

.submit {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 38px;
    height: 38px;
    transition: all 0.3s ease-in-out;
}

.submit:hover {
    background-color: #07051a;
    color: white;
}
ol > li {
    margin-bottom: 11px;
}

.span-title {
    margin-bottom: 11px;
}
.nav {
    color: white;
    text-align: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
}

.nav:hover {
    background-color: #111;
}

.hide1 {
    display: none;
}
